MODEL TUNING (model dogrulama)

In [1]:
import pandas as pd
df = pd.read_csv("C:/Users\monster\Desktop\Regresyon Modelleri\MultipleLinearRegression\Advertising.csv")
df = df.iloc[:,1:len(df)]
X = df.drop('sales', axis = 1)
y = df[["sales"]]
import statsmodels.api as sm
lm = sm.OLS(y, X)
model = lm.fit()
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
model = lm.fit(X, y)

In [4]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [5]:
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [ ]:
#Sinama testi

In [3]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 99)

In [8]:
X_train.head()

        TV  radio  newspaper
16    67.8   36.6      114.0
51   100.4    9.6        3.6
97   184.9   21.0       22.0
164  117.2   14.7        5.4
71   109.8   14.3       31.7

In [9]:
y_train.head()

     sales
16    12.5
51    10.7
97    15.5
164   11.9
71    12.4

In [10]:
X_test.head()

       TV  radio  newspaper
135  48.3   47.0        8.5
127  80.2    0.0        9.2
191  75.5   10.8        6.0
66   31.5   24.6        2.2
119  19.4   16.0       22.3

In [11]:
y_test.head()

     sales
135   11.6
127    8.8
191    9.9
66     9.5
119    6.6

In [12]:
lm = LinearRegression()
model = lm.fit(X_train, y_train)

In [14]:
#Egitim hatasi
import numpy as np
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_train, model.predict(X_train)))

1.7236824822650751

In [15]:
#test hatasi
np.sqrt(mean_squared_error(y_test, model.predict(X_test)))

1.4312783138301644

In [16]:
#randomState yuzunden olusan belirsizligi gidermek adına 
### K_Katli CV kullanilir ###

In [17]:
from sklearn.model_selection import cross_val_score

In [18]:
cross_val_score(model, X_train, y_train, cv = 10, scoring = "neg_mean_squared_error")

array([-2.1019073 , -2.48953197, -3.09704214, -2.34694216, -3.68175761,
       -1.8691401 , -3.18173007, -4.1927349 , -2.17128376, -8.03821974])

In [20]:
#CV MSE 
np.mean(-cross_val_score(model, X_train, y_train, cv = 10, scoring = "neg_mean_squared_error"))

3.317028974234126

In [21]:
#CV RMSE 
np.sqrt(np.mean(-cross_val_score(model, X_train, y_train, cv = 10, scoring = "neg_mean_squared_error")))

1.8212712522395245